<ion-header>
  <ion-navbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-input 
    class="input"
    #item
    placeholder="Type in an item."
    [value]="selectedItem"
  >
  </ion-input>
  <button ion-button 
    class="addItemButton" 
    (click)="addItem(item.value); item.value=''"
    *ngIf="!selectedItem"
  >
    Submit
  </button>
  <button ion-button 
    class="updateItemButton" 
    (click)="updateItem(item.value); item.value=''"
    *ngIf="selectedItem"
  >
    Update
  </button>
  <button ion-button 
    class="deleteItem" 
    (click)="deleteItem(); item.value=''"
    *ngIf="selectedItem"
  >
    Delete
  </button>

  <ion-list>
    <button ion-item 
      class="editItem" 
      [class.active]="index==selectedIndex"
      (click)="editItem(index, item)" 
      *ngFor="let item of items; let index=index"
    >
      {{item}}
    </button>
  </ion-list>

</ion-content>
